/* Style*/


.padding-icon{
	padding:1em;
}




/*Colors*/

.header-nav{
	background: #b71c1c;
}

.color-1{
	background: #ffff00;
}

	/* ventanas emergentes o muestras */
.color-2{
	background: #e0e0e0;
}

.background-body{
	background: #f5f5f5;
}

